<p id="notice"><%= notice %></p>

<p>
  <br />
  <%= if @node.name.include? "win"
    content_tag(:i, '', class: 'icon-windows icon-4x pull-right')
	else
		content_tag(:i, '', class: 'icon-linux icon-4x pull-right')
	end %>
  <strong>Name:</strong>
  <%= @node.name %>
  <br />
  <strong>Certified:</strong>
  <%= @node.certified %>
  <% if @node.certified %>
	  <br />
	  <strong>Certified on:</strong>
	  <%= @node.updated_at.localtime %>
  <% end %>
  <br />
  <strong>Architecture:</strong>
  <%= @node.osarch %>
  <br />
  <strong>Distribution:</strong>
  <%= @node.osname %>
  <br />
  <strong>Version:</strong>
  <%= @node.osversion %>
  <br />
  <strong>Virtual:</strong>
  <%= @node.virtual %>
</p>
<%= link_to 'Back', :back %>
